<div id="aboutDiv">
	<h1 id="aboutHeader">About</h1>
	<div class="row">
		<div class="col-md-6">
			<h2 class="aboutSubHead">How-To</h2>
			<p class="aboutText">You can view meal information without being a registered user, but you need to register in order to create a printable list of favorites. To register, simply sign up with a username and password that you'll be able to remember. You can filter meals by those that are open to everyone or those restricted by demographic. Just click the button in the meal's drop-down panel to add it to your favorites list.</p>
			<p class="aboutText">If you aren't looking for meals but would like to support these programs and services by donating your time or money, check out the organizations on the right side of this page.</p>
			<h2 class="aboutSubHead">About the Site</h2>
			<p class="aboutText">Feeding Seattle is an Angular application that utilizes Socrata's Open Data API to access data from the City of Seattle's Department of Human Services. It provides a centralized location for users to find  meal programs for homeless and low-income individuals. Registered users can create a saved, printable list of their prefered meal programs. The hope is that by making it easier for meal-seekers to find meal programs near them, and by connecting potential volunteers and donors with programs, fewer people will go hungry in the City of Seattle.</p>
			<p class="aboutText">Feeding Seattle was built by Emma Brillhart as part of General Assembly's WDI program. Source code can be found <a href="https://github.com/ebrillhart/feedingseattle">here</a>.</p>
			<p id="icons"><a href="http://ebrillhart.github.io"><i class="fa fa-user"></i></a><a href="http://github.com/ebrillhart"><i class="fa fa-github"></i></a><a href="http://www.linkedin.com/in/emmabrillhart"><i class="fa fa-linkedin"></i></a></p>
		</div>
		<div class="col-md-6">
			<h2 class="aboutSubHead">Organizations</h2>
			<ul id="contactList">
				<li class="aboutText"><a href="https://www.acrs.org/volunteering/aging_opportunities.php">ACRS Food Bank</a></li>
				<li class="aboutText">Anonymous Acts of Kindness</li>
				<li class="aboutText">Auburn Community Center</li>
				<li class="aboutText"><a href="http://www.biblestudyoutreachministries.org/pages.asp?pageid=108249">Bible Study Outreach Ministries</a></li>
				<li class="aboutText"><a href="https://blessedsacparish.ejoinme.org/MyPages/DonationPage/tabid/47591/Default.aspx">Blessed Sacrament Church</a></li>
				<li class="aboutText"><a href="http://www.breadoflifemission.org/get-involved/">Bread of Life Mission</a></li>
				<li class="aboutText"><a href="http://www.stjames-cathedral.org/outreach/kitchen.aspx">Cathedral Kitchen</a></li>
				<li class="aboutText"><a href="https://www.razoo.com/us/story/Chief-Seattle-Club">Chief Seattle Club</a></li>
				<li class="aboutText"><a href="http://www.communitylunch.org/Volunteers.html">Community Lunch on Capitol Hill</a></li>
				<li class="aboutText"><a href="http://www.icsseattle.org/community-lunch.html">Community Lunch/Immanuel Community Services</a></li>
				<li class="aboutText"><a href="http://www.netministries.org/see/churches.exe/ch22069">Curry Temple</a></li>
				<li class="aboutText"><a href="http://www.elcentrodelaraza.org/get-involved/volunteer/">El Centro de la Raza</a></li>
				<li class="aboutText">Emergency Senior Nutrition Program</li>
				<li class="aboutText"><a href="http://www.rootsinfo.org/volunteer/opportunities/">Friday Feast</a></li>
				<li class="aboutText">Friends of Francois</li>
				<li class="aboutText"><a href="https://www.hope-link.org/take_action/volunteer/">Hopelink/Sno-Valley</a></li>
				<li class="aboutText">Latino Lunch</li>
				<li class="aboutText"><a href="http://ccsww.convio.net/site/PageServer?pagename=volunteer_postings">Lazarus Day Center</a></li>
				<li class="aboutText"><a href="http://www.scidpda.org/how-to-help/volunteer">Legacy House Nutrition Program</a></li>
				<li class="aboutText"><a href="http://blaineonline.org/outreach/lords-table/">Lord's Table</a></li>
				<li class="aboutText">Magic Works Alumni</li>
				<li class="aboutText"><a href="http://www.marysplaceseattle.org/support-us/volunteer/">Mary's Place</a></li>
				<li class="aboutText"><a href="https://www.millionairclub.org/Ways-to-Give">Millionair Club Charity</a></li>
				<li class="aboutText">Monday Feeding Program</li>
				<li class="aboutText"><a href="http://amma.org/groups/north-america/seattle-satsang/projects/mothers-kitchen">Mother's Kitchen</a></li>
				<li class="aboutText"><a href="http://mountzion.net/helping-house/day-of-caring/">Mt. Zion Baptist Church</a></li>
				<li class="aboutText"><a href="http://www.neighborhoodcooking.org/volunteerarea/">Neighborhood Cooking Foundation</a></li>
				<li class="aboutText"><a href="http://nhmin.org/joinus/">New Horizons Ministries</a></li>
				<li class="aboutText"><a href="http://www.oslserves.org/volunteerop.php">Operation Sack Lunch</a></li>
				<li class="aboutText">Our Lady of Mt. Carmel</li>
				<li class="aboutText"><a href="http://www.paep-seattle.org/">PAEP/Polynesian Nutrition Program</a></li>
				<li class="aboutText"><a href="http://www.phinneycenter.org/volunteer/volunteer_hotmeal.html">Phinney Neighborhood Association</a></li>
				<li class="aboutText"><a href="http://www.pikemarketseniorcenter.org/support-volunteer/">Pike Market Senior Center</a></li>
				<li class="aboutText"><a href="http://www.psks.org/support/">PSKS (Peace for the Streets by Kids from the Streets)</a></li>
				<li class="aboutText"><a href="https://recoverycafe.org/volunteer/">Recovery Cafe</a></li>
				<li class="aboutText"><a href="http://restorationlc.org/missions/local-impact/">Restoration Life Church</a></li>
				<li class="aboutText"><a href="http://sacredheartvp.org/st-vincent-de-paul-society">Sacred Heart Church/SVDP Society</a></li>
				<li class="aboutText"><a href="http://ccsww.convio.net/site/PageServer?pagename=homeless_stmartin">Saint Martin's de Porres Shelter</a></li>
				<li class="aboutText"><a href="http://seattleindian.org/about-the-sic/">Seattle Indian Center</a></li>
				<li class="aboutText"><a href="http://sdabraham.tripod.com/id28.html">Seeds of Abraham Pentecostal Church</a></li>
				<li class="aboutText"><a href="http://ffmc.org/setfree/">Setfree Ministries</a></li>
				<li class="aboutText"><a href="http://svaonline.org/serve/local-missions/">Snoqualmie Valley Alliance Church</a></li>
				<li class="aboutText"><a href="http://allaboutsouthpark.com/south-park-senior-center/">South Park Senior Center</a></li>
				<li class="aboutText"><a href="http://www.saintandrewsseattle.org/event/jubilee-dinner-3/">St. Andrew's Episcopal Church</a></li>
				<li class="aboutText"><a href="http://stlukest.wwwsr13.supercp.com/serve/meals-ministry/">St. Luke's Episcopal Church</a></li>
				<li class="aboutText"><a href="http://www.ccsww.org/site/PageServer?pagename=homeless_udyc">U-District Youth Center</a></li>
				<li class="aboutText"><a href="http://www.ugm.org/site/PageServer?pagename=howtohelp">Union Gospel Mission</a></li>
				<li class="aboutText"><a href="http://www.teenfeed.org/">University Street Ministry Teen Feed</a></li>
				<li class="aboutText"><a href="http://www.ccsww.org/site/PageServer?pagename=homeless_noelhouse">Women's Referral Center</a></li>
				<li class="aboutText"><a href="http://www.youthcare.org/volunteer-opportunities">YouthCare Orion Center</a></li>
				<li class="aboutText"><a href="https://www.ywcaworks.org/page.aspx?pid=389">YWCA Angeline's Meals Program</a></li>
			</ul>
		</div>
	</div>
</div>