<div id="aboutDiv">
	<h1 id="aboutHeader">About</h1>
	<div class="row">
		<div class="col-md-6">
			<h2 class="aboutSubHead">How-To</h2>
			<p class="aboutText">You can view meal information without being a registered user, but you need to register in order to create a printable list of favorites. To register, simply sign up with a username and password that you'll be able to remember. You can filter meals by those that are open to everyone or those restricted by demographic. Just click the button in the meal's drop-down panel to add it to your favorites list.</p>
			<p class="aboutText">If you aren't looking for meals but would like to support the organizations that provide these programs and services by donating your time or money, check out the contact information on the right side of this page.</p>
			<h2 class="aboutSubHead">About the Site</h2>
			<p class="aboutText">Feeding Seattle is an Angular application that utilizes Socrata's Open Data API with data from the City of Seattle's Department of Human Services. It provides a centralized location for users to find  meal programs for homeless and low-income individuals. Registered users can create a saved, printable list of their prefered meal programs. The hope is that by making it easier for meal-seekers to find meal programs near them, fewer people will go hungry in the City of Seattle.</p>
			<p class="aboutText">Feeding Seattle was built by Emma Brillhart as part of General Assembly's WDI program. Source code can be found <a href="https://github.com/ebrillhart/feedingseattle">here</a>.</p>
			<p id="icons"><a href="http://ebrillhart.github.io"><i class="fa fa-user"></i></a><a href="http://github.com/ebrillhart"><i class="fa fa-github"></i></a><a href="http://www.linkedin.com/in/emmabrillhart"><i class="fa fa-linkedin"></i></a></p>
		</div>
		<div class="col-md-6">
			<h2 class="aboutSubHead">Organizations' Contact Information</h2>
			<ul>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
				<li class="aboutText"></li>
			</ul>
		</div>
	</div>
</div>