<div id="listDiv">
<!-- *************************** -->
<!-- filters for search and jump -->
<!-- *************************** -->
<div class="row" id="filterRow">
	<div class="col-md-6">
		<h3 id="jump">Jump to: </h3>
		<a href="#breakfast"><button class="btn btn-small jumpButton">Breakfast</button></a>
		<a href="#lunch"><button class="btn btn-small jumpButton">Lunch</button></a>
		<a href="#dinner"><button class="btn btn-small jumpButton">Dinner</button></a>
		<a href="#other"><button class="btn btn-small jumpButton">Other</button></a>
	</div>
	<div class="col-md-6">
		<h3 id="filter">Filter by: </h3>
		<button class="btn btn-small filterButton" ng-click="openMealFilter()">Open to All</button>
		<button class="btn btn-small filterButton" ng-click="restrictedMealFilter()">Restricted by Demographic</button>
		<button class="btn btn-small filterButton" ng-click="showAll()">Show All Meals</button>
	</div>
</div>
<!-- ************* -->
<!-- breakfast div -->
<!-- ************* -->
<div class="row" id="breakfast">
<h3 class="foodHeader">Breakfast</h3>
	<uib-accordion close-others="oneAtATime">
	<!-- accordian header -->
	<uib-accordion-group heading="{{meal.name_of_program}}, {{meal.people_served}}" ng-repeat="meal in breakfast track by $index" class="accordianHeading center-block" ng-click="isAFavorite($index, 'breakfast')">
	<!-- accordian body -->
		<div class="row">
		    <div class="col-md-6">
		        <h5>{{meal.day_time}}</h5>
		        <h5>{{meal.location}}, WA</h5>
		        <form  method="POST" role="form" ng-submit='addToFavorites($index, "breakfast")'>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model="program" value="{{ meal.name_of_program }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='location' value="{{ meal.location }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='time' value="{{ meal.day_time }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='meal' value="{{ meal.meal_served }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='served' value="{{ meal.people_served }}" hidden>
					</div>
						<button type="submit" class="btn faveButton" ng-show="auth.isLoggedIn() && !isAFavorite($index, 'breakfast')">Add to Favorites</button>
				</form>
				<button type="submit" class="btn seeFavesButton" ng-show="isAFavorite($index, 'breakfast')"><a href="/user/{{ auth.currentUser().id }}/profile">See Favorites</a></button>
		    </div>
		    <!-- location map -->
		    <div class="col-md-6">
		        <ng-map id="map" zoom="11" center="Seattle, WA">
		    		<marker position="{{ meal.location }}"></marker>
		    	</ng-map>
			</div>
		</div>
	</uib-accordion-group>
	</uib-accordion>
</div>
<!-- ********* -->
<!-- lunch div -->
<!-- ********* -->
<div class="row" id="lunch">
<h3 class="foodHeader">Lunch</h3>
<uib-accordion close-others="oneAtATime">
<!-- accordian header -->
<uib-accordion-group heading="{{meal.name_of_program}}, {{meal.people_served}}" ng-repeat="meal in lunch" class="accordianHeading center-block">
	<!-- accordian body -->
	<div class="row">
		<div class="col-md-6">
		    <h5>{{meal.day_time}}</h5>
		    <h5>{{meal.location}}, WA</h5>
		    <form  method="POST" role="form" ng-submit='addToFavorites($index, "lunch")'>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model="program" value="{{ meal.name_of_program }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='location' value="{{ meal.location }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='time' value="{{ meal.day_time }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='meal' value="{{ meal.meal_served }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='served' value="{{ meal.people_served }}" hidden>
					</div>
						<button type="submit" class="btn faveButton" ng-show="!isAFavorite($index, 'lunch')">Add to Favorites</button>
				</form>
				<button type="submit" class="btn seeFavesButton" ng-show="isAFavorite($index, 'lunch')"><a href="/user/{{ auth.currentUser().id }}/profile">See Favorites</a></button>
		</div>
		<!-- location map -->
		<div class="col-md-6">
		    <ng-map id="map" zoom="11" center="[47.66, -122.50]">
				<marker position="{{ meal.location }}"></marker>
			</ng-map>
		</div>
	</div>
</uib-accordion-group>
</uib-accordion>
</div>
<!-- ********** -->
<!-- dinner div -->
<!-- ********** -->
<div class="row" id="dinner">
<h3 class="foodHeader">Dinner</h3>
<uib-accordion close-others="oneAtATime">
<!-- accordian header -->
<uib-accordion-group heading="{{meal.name_of_program}}, {{meal.people_served}}" ng-repeat="meal in dinner" class="accordianHeading center-block">
	<!-- accordian body -->
	<div class="row">
		<div class="col-md-6">
			<h5>{{meal.day_time}}</h5>
			<h5>{{meal.location}}, WA</h5>
			<form  method="POST" role="form" ng-submit='addToFavorites($index, "dinner")'>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model="program" value="{{ meal.name_of_program }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='location' value="{{ meal.location }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='time' value="{{ meal.day_time }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='meal' value="{{ meal.meal_served }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='served' value="{{ meal.people_served }}" hidden>
					</div>
						<button type="submit" class="btn faveButton" ng-show="isLoggedIn()" ng-hide="isAFavorite($index, 'dinner')">Add to Favorites</button>
				</form>
				<button type="submit" class="btn seeFavesButton" ng-show="isAFavorite($index, 'dinner')"><a href="/user/{{ auth.currentUser().id }}/profile">See Favorites</a></button>
		</div>
		<!-- location map -->
		<div class="col-md-6">
			<ng-map id="map" zoom="11" center="[47.66, -122.50]">
				<marker position="{{ meal.location }}"></marker>
			</ng-map>
		</div>
	</div>
</uib-accordion-group>
</uib-accordion>
</div>
<!-- ********* -->
<!-- other div -->
<!-- ********* -->
<div class="row" id="other">
<h3 class="foodHeader">Other</h3>
<uib-accordion close-others="oneAtATime">
<!-- accordian header -->
<uib-accordion-group heading="{{meal.name_of_program}}, {{meal.people_served}}" ng-repeat="meal in otherMeals" class="accordianHeading center-block">
	<!-- accordian body -->
	<div class="row">
	    <div class="col-md-6">
	    	<h5>{{meal.day_time}}</h5>
	        <h5>{{meal.location}}, WA</h5>
	        <form method="POST" role="form" ng-submit='addToFavorites($index, "otherMeals")'>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model="program" value="{{ meal.name_of_program }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='location' value="{{ meal.location }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='time' value="{{ meal.day_time }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='meal' value="{{ meal.meal_served }}" hidden>
					</div>
					<div class="form-group" hidden>
						<input type="text" class="form-control" ng-model='served' value="{{ meal.people_served }}" hidden>
					</div>
						<button type="submit" class="btn faveButton" ng-show="isLoggedIn()" ng-hide="isAFavorite($index, 'otherMeals')">Add to Favorites</button>
				</form>
				<button type="submit" class="btn seeFavesButton" ng-show="isAFavorite($index, 'otherMeals')"><a href="/user/{{ auth.currentUser().id }}/profile">See Favorites</a></button>
	    </div>
	    <!-- location map -->
	    <div class="col-md-6">
	        <ng-map id="map" zoom="11" center="[47.66, -122.50]">
	    		<marker position="{{ meal.location }}"></marker>
	    	</ng-map>
		</div>
	</div>
</uib-accordion-group>
</uib-accordion>
</div>
<!-- end of list div -->
</div>