<div id="mapDiv">
	<!-- unfortunately, due to some issues with the google maps plug-in I used, I had to enter all of the -->
	<!-- locations manually. obviously, something with ng-repeat would have been more ideal! -->
    <ng-map id="map" center="[47.61, -122.33]" zoom="12">
    <!-- breakfast locations -->
    <marker title="" position=""></marker>
    <!-- lunch locations -->
    <marker title="" position=""></marker>
    <!-- dinner locations -->
    <marker title="" position=""></marker>
    <!-- other locations -->
    <marker title="" position=""></marker>
    </ng-map>
</div>